.RecastApp .RecastAppInput,
.CaiApp .CaiAppInput {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  font-family: LouisVuitton;
  textarea{
  height: fit-content;
  font-family: LouisVuitton;
  font-size: 18px;
}
  padding: 1rem;
  // color: grey;
  // background: white;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);

  .characterLimit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px 0 0;
    font-size: 12px;
    color: #f44336;
  }

  ::placeholder {
    opacity: 0.6;
    font-family: LouisVuitton;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 0.4px;
  }
}
