.RecastApp .RecastAppButton,
.CaiApp .CaiAppButton {
  padding: 0.5rem;

  cursor: pointer;
  font-family: LouisVuitton;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: 0.69px;
  text-align: center;
  cursor: pointer;
  color: #19110b;
  
}

.RecastApp,
.CaiApp {
  .RecastAppButton + .RecastAppButton,
  .CaiAppButton + .CaiAppButton {
    //border: 1px solid #eae8e4;
    border-top: 1px solid #eae8e4;
  }
}

.RecastApp .RecastAppButton-Link,
.CaiApp .CaiAppButton-Link {
  @extend .CaiAppButton;
  @extend .RecastAppButton;
  text-decoration: none;
  display: block;
  color: black;
  &:hover {
    text-decoration: none;
  }
}
