@font-face {
  font-family: LouisVuitton;
  src:url("https://tp.louisvuitton.com/fonts/bin/LouisVuitton-Regular.woff2");
  font-family: LouisVuittonBold;
  src:url("https://tp.louisvuitton.com/fonts/bin/LouisVuitton-Bold.woff2");
  }
.RecastApp .RecastAppExpander,
.CaiApp .CaiAppExpander {
  position: fixed;
  right: 24px;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  cursor: pointer;
 
  &.open {
    opacity: 1;
    width: fit-content;
    position: fixed;
    height: fit-content;
    border-radius: 32px 50px 50px 32px;
		right: 24px;
    bottom: 24px;
    z-index: 800;
		display: flex;
		flex-direction: row;
  }

  &.close {
    opacity: 0;
  }
  
  &--logo{
    z-index: 800;
    position: fixed;
    display: block;
    right: 24px;
    border-radius:50%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
   

    &.animation{
       content: url("https://eu.louisvuitton.com/images/is/image/lv/LV-Open.png"); 
      // animation: logo 10s step-start;
      // animation-delay: 4s;
     
      }

    &.logoWithoutAnimation{
      content: url("https://eu.louisvuitton.com/images/is/image/lv/LV-Open.png"); 
      //box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    }

    &.animationHover{
      content: url('https://eu.louisvuitton.com/images/is/image/lv/LVHover.png');
      // animation: logoHover 5s step-start;
      // animation-delay: 0s;
      //box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
   }
  }

  
  //TODO : COVER ALL screen sizes :-D
  &--slider{
    text-align: center;
    vertical-align: middle;
     background-color: #ffffff;
     box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
			margin-right: -10px;
      padding: 10px;
      border-radius: 30px;
      height: 60px;
			opacity: 0;
			visibility: hidden;

    .sliderText{
      font-family: LouisVuitton;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.11;
      letter-spacing: 0.4px;
      color: #19110b;
			visibility: hidden;
      opacity: 0;
      transition: none;
      margin-right: 2.8rem;
      width: fit-content;
      word-wrap: break-word;
      
    }
    .animationText{
      // animation: text 12s linear;
      // animation-delay: 3s;
      }
   

    .sliderTextFaster{
      font-family: LouisVuitton;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.11;
      letter-spacing: 0.4px;
      color: #19110b;
			visibility: hidden;
      opacity: 0;
			transition: none;
      // animation: text 6s linear;
      margin-right: 2.8rem;
      width: fit-content;
      word-wrap: break-word;
      animation-delay: 0s;
    }

   &.sliderContainer{
    text-align: center;
    vertical-align: middle;
     background-color: #ffffff;
     box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
			margin-right: -10px;
      padding: 10px;
      border-radius: 30px;
      height: 60px;
			opacity: 0;
			visibility: hidden;
      transform-origin: 100% 50%;
      
   }
   &.animationContainer{
    // animation: container 10s linear;
    // animation-delay: 4s;
    }


   &.sliderContainerFaster{
    text-align: center;
    vertical-align: middle;
     background-color: #ffffff;
     box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
			margin-right: -10px;
      padding: 10px;
      border-radius: 30px;
      height: 60px;
			opacity: 0;
			visibility: hidden;
			transform-origin: 100% 50%;
      // animation: container 5s linear;
      // animation-delay: 0s;
   }
     
  }
  @keyframes logo {
    0% {
     border-radius: 0%;
     box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    }
    100% {
      border-radius: 0%;
      box-shadow: none;
    }
  }
  @keyframes logoHover {
    0% {
     border-radius: 0%;
     box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    }
    100% {
      border-radius: 0%;
      box-shadow: none;
    }
  }

  @keyframes container {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: scaleX(0);
    }
    10% {
      opacity: 1;
      visibility: visible;
      transform: scaleX(1);
    }
    90% {
      opacity: 1;
      visibility: visible;
      transform: scaleX(1);
      border-radius: 30px;
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: scaleX(0);
      border-radius: 30px;
    }
  }

  @keyframes text {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    20% {
      opacity: 0;
      visibility: hidden;
    }
    50% {
      opacity: 1;
      visibility: visible;
    }
    75% {
      opacity: 0;
      visibility: hidden;
    }
  }


@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  30% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
}
50% {
  -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  box-shadow: 0 0 0 10px rgba(204,169,44, 0);
}
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }

  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.CaiAppExpander--notification{
  right: 25px;
  // bottom:74px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(0, 0, 0, 0.08);
  background-color: #d6852a;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  position: fixed;
  z-index: 807;
  border-radius: 50%;
  visibility: hidden;
  // animation: pulse 2s infinite;
  // animation-delay: 15s;
}
}

/*Mobile in potrait mode*/
@media only screen and (max-width: 320px) {
  .RecastApp .RecastAppExpander,
  .CaiApp .CaiAppExpander {
    &.open {
      margin-left:3px;
    }
    &--slider{
      .sliderText{  padding: 0px 0px 5px 10px;font-size:17px;}

      .sliderTextFaster{padding: 0px 0px 5px 10px; font-size:17px;}
    }
    &--notification{
      bottom: 90px;
    }
  }
}

/*Mobile in landscape mode*/
@media only screen and (min-width: 321px) and (max-width:480px) {
  .RecastApp .RecastAppExpander,
  .CaiApp .CaiAppExpander {
    &.open {
      margin-left:5px;
    }
    &--slider{
      .sliderText{padding: 1px 0px 0px 0px; font-size:17px;}
      .sliderTextFaster{padding: 1px 0px 0px 0px; font-size:17px;}
    }
    &--notification{
      bottom: 90px;
    }
  }
}
/*Tablets*/
@media only screen and (min-width: 768px) and (max-width:1024px) {
  .RecastApp .RecastAppExpander,
  .CaiApp .CaiAppExpander {
    &.open {
      margin-left:10px;
    }
    &--slider{
      .sliderText{padding: 12px 0px 0px 0px; font-size:18px;}

      .sliderTextFaster{padding: 12px 0px 0px 10px; font-size:18px;}
    }
    &--notification{
      bottom: 90px;
    }
  }
}

/*Desktop and  laptops computers*/
@media screen and (min-width:1224px) {
  .RecastApp .RecastAppExpander,
  .CaiApp .CaiAppExpander {
    &.open {
      margin-left:30px;
    }
    &--slider{
      .sliderText{ padding: 12px 0px 5px 10px; font-size:18px;} 

      .sliderTextFaster{padding: 12px 0px 5px 10px; font-size:18px;}
    }
    &--notification{
      bottom: 74px;
    }
  }
}
