.RecastApp .RecastAppChat,
.CaiApp .CaiAppChat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;

  transition: transform 0.3s, opacity 0.6s;
  transform-origin: bottom;

  &.open {
    transform: scaleY(1);
    opacity: 1;
    overflow: hidden;
   
  }

  &.close {
    transform: scaleY(0);
    opacity: 0;
    overflow: hidden;
  }

  &--content {
    position: relative;
  }

  &--slogan {
    padding: 0.2rem;
    padding-bottom: 0.5rem;
    font-size: 14px;
    font-weight: bold;

    text-align: center;
    color: lightgrey;

    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;

    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
  }

  &--slogan--hidden {
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

@media only screen and (min-width: 420px) and (min-height: 575px) {
  .RecastApp .RecastAppChat,
  .CaiApp .CaiAppChat {
    right: 24px;
    bottom: 24px;
    border-radius: 3px;
    top: auto;
    left: auto;
    width: 375px;
    height: auto;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);

    &--slogan {
      margin-bottom: 0;
    }
  }
}
@media only screen and (max-width: 420px) {
  .RecastApp .RecastAppChat,
  .CaiApp .CaiAppChat {
    // &.open{
    //   margin-top: 25px;
    // }
    &--slogan {
      display: none;
    }
  }
}
