.RecastApp .RecastAppHeader,
.CaiApp .CaiAppHeader {
  display: flex;
  align-items: center;
  border-radius: 0;
  height: 56px;


  &--logo {
    height: 50px;
    width: 50px;
    padding: 10px; 
  }

  &--title {
    flex-grow: 1;
    width: 48px;
    height: 20px;
    font-family: LouisVuitton;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 0.4px;
    color: #ffffff;
    padding-top: 3px;
  }

  &--btn {
    cursor: pointer;
    margin: 1rem;
    width: 20px;
    height: 15px;
  }
}


@media only screen and (min-width: 420px) and (min-height: 575px) {
  .RecastApp .RecastAppHeader,
  .CaiApp .CaiAppHeader {
    border-radius: 3px 3px 0 0;
  }
}
