@font-face {
  font-family: LouisVuitton;
  src:url("https://tp.louisvuitton.com/fonts/bin/LouisVuitton-Regular.woff2");
  }
.RecastApp,
.CaiApp {
  z-index: 2147483647;
}

.RecastApp *,
.RecastApp *:after,
.RecastApp *:before,
.CaiApp *,
.CaiApp *:after,
.CaiApp *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: LouisVuitton;
}

.RecastApp a,
.CaiApp a {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.RecastApp img,
.RecastApp svg,
.CaiApp img,
.CaiApp svg {
  max-width: 100%;
  display: block;
}
