@font-face {
  font-family: LouisVuitton;
  src:url("https://tp.louisvuitton.com/fonts/bin/LouisVuitton-Regular.woff2");
  }
  @font-face {
    font-family: LouisVuitton-Medium;
    src:url("https://tp.louisvuitton.com/fonts/bin/LouisVuitton-Medium.woff2");
}
@font-face {
  font-family: LouisVuitton-Light;
  src:url("https://tp.louisvuitton.com/fonts/bin/LouisVuitton-Light.woff2");
}
.RecastAppMessageContainer,
.CaiAppMessageContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;

  &.bot {
    justify-content: flex-start;
  }
}

.RecastApp .RecastAppMessage,
.CaiApp .CaiAppMessage {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0.5rem 0.5rem;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  position: relative;
  font-family: LouisVuitton;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: 0.4px;

  &--logo {
    width: 35px;
    height: 35px;
    margin: 0 0.5rem 0 0.5rem;
    align-self: flex-end;
    opacity: 0;

    &.visible {
      opacity: 1 !important;
    }
  }

  &--JsonButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-left: 0.5rem;
    margin-left: -1rem;
    margin-top: -0.6rem;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: -7px;
  }

  &--retry {
    font-size: 12px;
    margin: 0 10px;
    text-align: right;
    color: #9e9e9e;

    &.bot {
      text-align: left;
    }

    .button {
      cursor: pointer;
      color: black;
    }
  }

  &.bot {
    .typingImg{
      border-radius:32px;
    }
    .CaiAppText {
      background-color:#f6f5f3;
      border-radius: 18px;
      padding: 8px 12px 8px 12px;
      margin-right: 5rem;
      span{
        p{
          font-family: LouisVuitton;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 20px;
          letter-spacing: 0.4px;
          width: fit-content;
          color: #19110b;;
          text-align: left;
        }
      font-family: LouisVuitton;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 20px;
      letter-spacing: 0.4px;
      // width: 218px;
      max-width: 290px;
      color: #19110b;
      }
    }
    flex-direction: row;

    .Message--logo {
      margin: 0 0.5rem 0 0;
    }
  }
  &.user {
    .CaiAppText {
      background-color: #19110b;
      border-radius: 18px;
      width: fit-content;
       max-width: 218px;
      padding: 8px 12px 8px 12px;
      margin-right: 18px;
      span{
        p{
          font-family: LouisVuitton;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 20px;
          letter-spacing: 0.4px;
          width: fit-content;
          color: #FFFFFF;
          text-align: left;
        }
      font-family: LouisVuitton;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 20px;
      letter-spacing: 0.4px;
      width: fit-content;
      color: #FFFFFF;
      text-align: left;
      }
     
    }
    flex-direction: row;

  }
  /*
   * Text
   */

  .RecastAppText,
  .CaiAppText {
  //  width: 218px;
    max-width: 290px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 18px;
    // Markdown
    ul,
    ol {
      list-style: disc;
    }

    ul li,
    ol li {
      margin-left: 18px;
    }
  }

  /*
   * Picture
   */

  .RecastAppPicture,
  .CaiAppPicture {
    width: 270px;
    max-height: 270px;
    border-radius: 3px;
    border: 1px solid #eae8e4;
  }

  /*
   * QuickReplies
   */

  .RecastAppQuickReplies,
  .CaiAppQuickReplies {
    display: flex;
    flex-direction: column;

    &--slider {
      &.noArrow{
        .slick-track{
          transform: translate3d(0px, 0px, 0px)!important;
        }
      }
      
      margin-top: 0.5rem;
      max-width: 290px;
      width: fit-content;
    }

    &--button {
      display: flex;
     
      height: 40px;
      padding:0.7rem;
      margin-left: 0.5rem;
      border: 1px solid #eae8e4;
      cursor: pointer;
      font-family: LouisVuitton;
      //font-weight: bold;
    //  border-radius: 25px;
      img{
        &.visible{
        border-radius: 18px;
        margin-top:0.3rem;
        margin-right: 0.5rem;
        }
      }
    }
  }

  /*
   * Buttons
   */
  .Buttons {
    background: #FFFFFF;
   
    font-family: LouisVuitton;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.69px;
    color:#19110b;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 20px;
    border-radius: 18px;
    width: 218px;
   
 

    &--title {
      text-align: left;
      max-width: 270px;
      padding: 8px 12px 8px 12px;
      background-color: #F6F5F3;
      font-family: LouisVuitton;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.11;
      letter-spacing: 0.4px;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      color: #19110b;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
    }

    &--container {
      border: 1px solid #EAE8E4;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
    }
  }

  /*
   * Card
   */
   .Card--text-subtitle{
     &--complete{ 
        p , a{ 
          font-family: LouisVuitton-Light;
        }
        a{text-decoration: none;}
      }
     &--simple{   font-family: LouisVuitton;}
    letter-spacing: 0.4px;
    line-height: 20px;
 
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.4px;
    color: #19110b;

   }
  .RecastAppCard,
  .CaiAppCard {
    &.Map{
      .MapWithAMarker{
        border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      }
   
      border: 1px solid #eae8e4;
    }
    &--TitleSubtitleHolder{
      &--complete{
        border-top: 1px solid #EAE8E4;
        border-right: 1px solid #EAE8E4;
        border-left: 1px solid #EAE8E4;
        padding:12px;
      }
     &-Map{
       padding:0.5rem;
     }
    }
    width: 270px;
    //  border: 1px solid #EAE8E4;
    border-radius: 18px;
    img{
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
    }

    &--img {
      
      max-height: 270px;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
    }

    &--text {
      &.img{
        
        padding: 0.4rem;
        background-color:white;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
      }
      &.text{
      padding: 0.6rem;
      background-color: #F6F5F3;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      font-family: LouisVuitton;
      font-size: 18px;
      
      font-style: normal;
      font-stretch: normal;
      line-height: 1.11;
      letter-spacing: 0.4px;
      color: #19110b;
    }

      &-title {
        font-weight: bold;
        padding-bottom: 0.3rem;
      font-family: LouisVuitton-Medium;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.11;
      letter-spacing: 0.4px;
      color: #19110b;
      }
      &-Map{

      }

      
      &-subtitle {
       
        background-color: #F6F5F3;
        letter-spacing: 0.4px;
        line-height: 20px;
        font-family: LouisVuitton-Light;
        font-size: 16px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: 0.4px;
        color: #19110b;
      
      }
    }

    &--button-container {
       border-top: 1px solid lightgrey;
      border: 1px solid #EAE8E4;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
  
    }
  }

  /*
   * List
   */

  .RecastAppList,
  .CaiAppList {
    border: 1px solid lightgrey;
    border-radius: 3px;

    &--button {
      border-top: 1px solid lightgrey;
    }

    .RecastAppListElement,
    .CaiAppListElement {
      display: flex;
      width: 290px;

      &--img {
        width: 80px;
        height: 80px;
        margin: auto;

        padding: 0.2rem;
      }

      &--container {
        display: flex;
        flex-direction: column;
        border-left: 1px solid lightgrey;

        width: 100%;
        padding: 0.2rem;
      }

      &--title {
        font-weight: bold;
      }

      &--subtitle {
        font-size: 14px;
        font-weight: lighter;
        flex-grow: 1;
      }

      &--button {
        align-self: flex-end;

        padding: 0.2rem;
        cursor: pointer;
        font-size: 14px;
        //font-weight: bold;
       // color: cornflowerblue;
       color: #18110C;
        text-decoration: none;
      }
    }

    .RecastAppListElement + .RecastAppListElement,
    .CaiAppListElement + .CaiAppListElement {
      border-top: 1px solid lightgrey;
    }
  }
}

/*
  * Slider
  */

.RecastAppSlider,
.Slider,
.CaiAppSlider,
.Slider {
  max-width: 300px;

  .Arrow {
    width: 25px;
    height: 25px;

    display: flex !important;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    line-height: 17px;

    color: grey !important;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;

    &.slick-disabled {
      display: none !important;
    }
  }

  .slick-list {
    height: fit-content;
    height: -moz-fit-content;
    .slick-track{
   // transform: translate3d(0, 0px, 0px) !important;
    }
  }

  .slick-next {
    @extend .Arrow;
  }

  .slick-prev {
    @extend .Arrow;
  }

  .slick-prev:before {
    display: none !important;
  }

  .slick-next:before {
    display: none !important;
  }
}


#mapDialog{
  max-width: auto !important;
}
.MuiDialog-paperWidthSm{
  max-width: none !important;
}
 .gm-fullscreen-control, .gmnoprint{
  display: none !important;
}

.dialogActionCustom{
  text-align: center
}

.mapContentHolder{
  display:inline-grid;
}

.ButtonSimple{
  font-size: 16px;
}

.loadingElementMap, .containerElementMap, .mapElementMap{
  height: 15rem;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
/***general csss ===========*/
.contentDilogMap{
  padding: 8px 0px 0px 0px!important;
  z-index: 12;
}

.headerMapHolder{
  display: inline-flex;
  height: 53px;
  .headerMapItems{
    border-bottom: 1px solid #eae8e4;
    display: inline-flex;
    background-color: #ffffff;
    #mapDialogTitle{
      height: 24px;
      font-family: LouisVuittonBold;
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: #19110b;
      padding: 1rem;
    }
    .closeMapButton{
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin-top: 1rem;
      margin-left: 0.6rem;
      margin-right: 0.5rem;
    }
    .imageCloseHolder{
      border-left: 1px solid #eae8e4;
    }
  }
}
.mapContentHolder{
  display:inline-grid;
  .inputMap{
    margin: 8px 8px 0px 8px;
    display: inline-flex;
    background-color: #f6f5f3;
    align-items: baseline;
    border-radius: 6px;
    input{
      padding-left: 0.5rem;
      placeholder{
        font-size: 16px;
        font-family: LouisVuitton;
      }
      height: 2.8rem;
      outline: none;
    border-style: none;
    font-family: LouisVuitton;
    font-size: 16px;
    background-color: #f6f5f3;
    }
    .seacrhIconMap{
      width: 12px;
      height: 12px;
    }
    .trackIconMap{
      width: 12px;
      height: 12px;
      padding-right: 0.5rem;
    }
  }
}
.dialogActionCustom{
  height: 80px;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.04), 0 -8px 16px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: relative;
  z-index: 12;
  .divHolderActionItems{
    padding: 11px 11px 11px;
    display: inline-flex;
    width: 100%;
    .addressHolder {
      float: left;
      width: 100%;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: 0.4px;
      span{
      padding-right: 1.5rem;
      font-size: 16px;
      font-family: LouisVuittonBold;
     
    }
  }
  .buttonDirectionHolder{
    .buttonDirectionItems{
      width: 48px;
      height: 48px;
      float: right;
      background-color: #19110b;
      .iconGo{
        width: 16px;
        height: 16px;
        object-fit: contain;
        padding-top: 1rem;
        
      }
      .textDirection{
       visibility: hidden;
      }
    }
  }
}
}


/* ----------- iPhone 4 and 4S ----------- */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
    #mapElement{
      height: 90%;
      margin-top: 11%;
    }
    .contentDilogMap{
      height: 32rem;
      width: 25.9rem;
    }
    .loadingElementDiv, .containerElementDiv, .mapElementDiv{
      height: 32rem;
      width: 25.9rem;
    }
    .headerMapHolder{
      .headerMapItems{
        width: 26rem;
        #mapDialogTitle{
          width:78%;
        }
        .closeMapButton{
          margin-left: 1rem;
        }
      }
    }
    .mapContentHolder{
      .inputMap{
        width: 23.8rem;
        height: 3.2rem;
        input{
          width: 21.5rem;
          height: 2.8rem;
        }
      }
    }  
    .dialogActionCustom{
      width: 25.9rem;
      margin-top:-3rem;
      .divHolderActionItems{
        padding: 16px 16px 16px;
      .buttonDirectionHolder{
        width: 50%;
      }
    }
  }
}
/* -----------END  iPhone 4 and 4S ----------- */


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #mapElement{
      height: 100%;
      margin-top: 11%;
    }
    .contentDilogMap{
      height: 20rem;
      width: 20rem;
    }
    .loadingElementDiv, .containerElementDiv, .mapElementDiv{
      height: 20rem;
      width: 20rem;
    }
  
    .headerMapHolder{
      .headerMapItems{
        width: 20rem;
        #mapDialogTitle{
          width:78%;
        }
      }
    }
    .mapContentHolder{
      .inputMap{
        width: 18.3rem;
        margin: 11px 16px 11px 16px;
        height: 3.2rem;
        input{
          width: 16rem;
          height: 2.8rem;
        }
      }
    }
    .dialogActionCustom{
      width: 20rem;
      margin-top:0rem;
      .divHolderActionItems{
        padding: 16px 16px 16px;
        .addressHolder {
          span{
          padding-right: 0rem;
          font-size: 14px;
        }
      }
      .buttonDirectionHolder{
        width: 50%;
      }
    }
  }
}

/* -----------END iPhone 5, 5S, 5C and 5SE ----------- */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #mapElement{
      height: 100%;
      margin-top: 9%;
    }
    .contentDilogMap{
      height: 29rem;
      width: 24rem;
    }
    .loadingElementDiv, .containerElementDiv, .mapElementDiv{
      height: 29rem;
      width: 23.3rem;
    }
  
    .headerMapHolder{
      .headerMapItems{
        width: 23.5rem;
        #mapDialogTitle{
          width:80%;
        }
      }
    }
    .mapContentHolder{
      .inputMap{
        width: 22rem;
        height: 3.2rem;
        input{
          width: 19.5rem;
        }
      }
    }
    .dialogActionCustom{
      width: 24rem;
      margin-top:-2rem;
      .divHolderActionItems{
        .addressHolder {
          span{
          padding-right: 1.5rem;
          margin-left: 1rem;
         
        }
      }
    }
    .buttonDirectionHolder{
      .buttonDirectionItems{
        margin-right: 2.5rem;
        .iconGo{
          margin-left: 1rem; 
        }
      }
    }
  }
}
/* -----------END iPhone 6, 6S, 7 and 8 ----------- */


/* ----------- iPhone 6, 6S, 7 and 8  PLUS----------- */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #mapElement{
      height: 100%;
      margin-top: 9%;
    }
    .contentDilogMap{
      height: 32rem;
      width: 26rem;
    }
    .loadingElementDiv, .containerElementDiv, .mapElementDiv{
      height: 32rem;
      width: 26rem;
    }
  
    .headerMapHolder{
      .headerMapItems{
        width: 26rem;
        #mapDialogTitle{
          width:80%;
        }
      }
    }
    .mapContentHolder{
      .inputMap{
        width: 24.3rem;
        height: 3.2rem;
        input{
          width: 21.8rem;
        }
      }
    }
    .dialogActionCustom{
      width: 27rem;
      margin-top:-2rem;
      .divHolderActionItems{
      .buttonDirectionHolder{
        .buttonDirectionItems{
          margin-right: 3.5rem;
          .iconGo{
            margin-left: 1rem; 
          }
        }
      }
    }
  }

}
/* -----------END iPhone 6, 6S, 7 and 8  PLUS----------- */


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #mapElement{
      height: 100%;
      margin-top: 10%;
    }
    .contentDilogMap{
      height: 37rem;
      width: 25.6rem;
    }
    .loadingElementDiv, .containerElementDiv, .mapElementDiv{
      height: 37rem;
      width: 25.6rem;
    }
    .headerMapHolder{
      .headerMapItems{
        width: 23.6rem;
        #mapDialogTitle{
          width:83%;
        }
      }
    }
    .mapContentHolder{
      .inputMap{
        width: 21.6rem;
        height: 3.2rem;
        input{
          width: 19rem;
        }
      }
    }
    .dialogActionCustom{
      width: 24rem;
      margin-top:-2rem;
      .divHolderActionItems{
        .addressHolder {
          span{
          padding-right: 0rem;
          font-size: 15px;
      }
      .buttonDirectionHolder{
        .buttonDirectionItems{
        
          .iconGo{
            margin-left: 1rem;
            margin-right: 2.5rem;
          }
        }
      }
    }
  }
}
}
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
@media screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    #mapElement{
      height: 100%;
      margin-top: 10%;
    }
    .contentDilogMap{
      height: 26rem;
      width: 22.4rem;
    }
    .loadingElementDiv, .containerElementDiv, .mapElementDiv{
      height: 26rem;
      width: 22.4rem;
    }
  
    .headerMapHolder{
      .headerMapItems{
        width: 22.4rem;
        #mapDialogTitle{
          width:83%;
        }
      }
    }
    .mapContentHolder{
      .inputMap{
        width: 21rem;
        height: 3.2rem;
        input{
          width: 18.6rem;
        }
      }
    }
    .dialogActionCustom{
      width: 22.4rem;
      margin-top:-2rem;
      .divHolderActionItems{
        .addressHolder {
          span{
          padding-right: 0rem;
          font-size: 15px;
        }
      }
    }
  }

}
/* -----------END Galaxy S4, S5 and Note 3 ----------- */


/*Tablets*/
@media only screen and (min-width: 768px) and (max-width:1024px) {
  .contentDilogMap{
    height: 35rem;
    width: 50rem;
  }
  .loadingElementDiv, .containerElementDiv, .mapElementDiv{
    height: 35rem;
    width: 50rem;
  }
  .headerMapHolder{
    height: 76px;
    .headerMapItems{
      width: 44rem;
      #mapDialogTitle{
        width:87%;
      }
      .closeMapButton{
        margin-top: 1.5rem;
        margin-left: 2rem;
      }
    }
  }
  .mapContentHolder{
    .inputMap{
      width: 42.3rem;
      margin: 11px 16px 11px 16px;
      height: 3.2rem;
      input{
        width: 40rem;
        height: 2.8rem;
      }
    }
  }
  .dialogActionCustom{
    width: 35rem;
    margin-top:-8rem;
    margin-left: 5rem;
    .divHolderActionItems{
      padding: 16px 16px 16px;
    .buttonDirectionHolder{
      width: 100%;
      padding-right: 16px;
      .buttonDirectionItems{
        width: 65%;
        .iconGo{
          padding-right: 0.3rem;
          margin-left: 1rem;
        }
        .textDirection{
          font-family: LouisVuitton;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: 0.4px;
          color: #ffffff;
          margin-top: 0.8rem;
         visibility: visible;
        }
      }
    }
  }
}
}

/*Desktop and  laptops computers*/
@media screen 
  and (min-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1)  {
  .contentDilogMap{
    height: 35rem;
    width: 61rem;
  }
  .loadingElementDiv, .containerElementDiv, .mapElementDiv{
    height: 35rem;
    width: 61rem;
  }

  .headerMapHolder{
    height: 76px;
    .headerMapItems{
      width: 61rem;
      #mapDialogTitle{
        width:87%;
      }
      .closeMapButton{
        margin-top: 1.5rem;
        margin-left: 2rem;
      }
    }
  }
  .mapContentHolder{
    .inputMap{
      width: 59rem;
      margin: 11px 16px 11px 16px;
      height: 3.2rem;
      input{
        width: 56rem;
        height: 2.8rem;
      }
    }
  }
  .dialogActionCustom{
    width: 35rem;
    margin-top:-8rem;
    margin-left: 15rem;
    .divHolderActionItems{
      padding: 16px 16px 16px;
    .buttonDirectionHolder{
      width: 100%;
      padding-right: 16px;
      .buttonDirectionItems{
        display: inline-flex;
        margin-right: 1.5rem;
        width: 65%;
        .iconGo{
          padding: 1rem 0.3rem 0rem 0.4rem;
        }
        .textDirection{
          font-family: LouisVuitton;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: 0.4px;
          color: #ffffff;
          margin-top: 0.8rem;
          visibility: visible;
        }
      }
    }
  }
}
}